<section class="home-wrapper">
    <img src="images/home-bg/bg.jpg" alt="">
    <div class="home-btns">
        <form action="/sign_in">
            <button>Sign In</button>
        </form>
        <form action="/sign_up">
            <button>Sign Up</button>
        </form>
    </div>
</section>
