<header>
  <h1>TaskMaster</h1>
  <div class="home-btns">
    <form action="/sign_in">
      <button class="btn outline-secondary btn-sm">Sign In</button>
    </form>
    <form action="/sign_up">
      <button class="btn btn-primary btn-sm">Sign Up</button>
    </form>
  </div>
</header>

<img src="images/home-bg/bg.jpg" alt="home" />

<footer>
  <p>&copy; 2023, Tales Pinto. All the rights reserved.</p>
</footer>
