<header>
  <h1>TaskMaster</h1>
</header>
<div class="signin-wrapper">
  <form action="/sessions/sign_in" method="post">
    <div class="form-floating mb-3">
      <input
        type="text"
        class="form-control"
        id="floatingInput"
        placeholder="Username"
        name="username"
      />
      <label for="username">Username</label>
    </div>
    <div class="form-floating mb-3">
      <input
        type="password"
        class="form-control"
        id="floatingPassword"
        placeholder="Password"
        name="password"
      />
      <label for="pasword">Password</label>
    </div>
    <button class="btn btn-primary btn-sm">Sign In</button>
  </form>
</div>
<footer>
  <p>&copy; 2023, Tales Pinto. All the rights reserved.</p>
</footer>

<!-- <form>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input
      type="text"
      class="form-control"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
    />
    <div id="emailHelp" class="form-text">
      We'll never share your email with anyone else.
    </div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" />
  </div>
  <button class="btn btn-primary">Submit</button>
</form> -->

<!-- <div class="mb-3">
    <label for="username" class="form-label">Username</label>
    <input type="text" name="username" />
  </div> -->
