<p>Please create an account before sign in.</p>

<div class="signup-wrapper">
    <form action="/sessions/sign_up" method="post">
        <label for="">Username</label>
        <input type="text" name="username">
        <label for="">Password</label>
        <input type="password" name="password">
        <button>Sign Up</button>
    </form>
</div>