<form action="/sessions/sign_in" method="post">
    <label for="">Username</label>
    <input type="text" name="username">
    <label for="">Password</label>
    <input type="password" name="password">
    <button>Sign In</button>
</form>