* {
  box-sizing: border-box;
  /* border: 1px solid red; */
  font-family: "Montserrat", sans-serif;
}

img {
  max-width: 100vw;
  max-height: 90vh;
  justify-content: center;
}

header {
  display: flex;
  margin: 10px;
  justify-content: space-between;
}

footer {
  color: #a8a4f1;
  font-size: medium;
  display: flex;
  justify-content: flex-end;
  margin: 0 20px 10px 0;
  flex: 1;
  align-items: flex-end;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1 {
  color: #a8a4f1;
  font-weight: 900;
  align-self: center;
  margin: 0 0 0 20px;
  font-size: 50px;
}

h2 {
  font-weight: 400;
}

/* HOME */

.home-btns {
  display: flex;
  justify-content: flex-end;
}

.home-btns > form {
  margin: auto 10px;
}

/* SIGN IN */

.signin-wrapper {
  display: flex;
  margin: 20px auto;
}
.signin-wrapper > form {
  width: 40vw;
}

.signin-wrapper form > button {
  margin: 20px auto;
  display: flex;
  justify-items: center;
}

/* SIGN UP */
.signup-wrapper {
  display: flex;
  margin: 20px auto;
}

.signup-wrapper > form {
  width: 40vw;
}

.signup-wrapper form > button {
  margin: 20px auto;
  display: flex;
  justify-items: center;
}

.signup-message {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/*DASHBOARD*/

.dashboard-header {
  display: flex;
  margin: 10px;
}
.dashboard-header > p {
  margin: 0 20px;
  font-size: 12px;
  align-self: center;
}
.hello-user {
  display: block;
  font-size: 12px;
  margin: 0;
}

.signout-btn {
  text-align: right;
  margin-right: 30px;
}

.new-task-btn > form > button {
  margin: 20px 30px;
}

.tasks-wrapper {
  margin: 10px 30px 50px 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  gap: 15px;
}

.task-card {
  display: flex;
  background-color: #cdcbf6;
  padding: 5px;
  align-items: center;
  border-radius: 2%;
  border: 1px solid #b5b2f1;
  max-width: 400px;
  width: 30vw;
}
.task-card > form {
  font-size: 12px;
  width: 29vw;
  max-width: 385px;
}
.task-card > form > textarea {
  width: 29vw;
  max-width: 385px;
  background-color: #cdcbf6;
  border: 1px solid #a8a4f1;
  resize: none;
}

.task-card > form > label {
  font-weight: bold;
  width: 33vw;
  padding: 10px 0 5px 5px;
}
.task-card > form > .card-title {
  border-color: #cdcbf6;
  font-weight: 700;
  text-align: center;
  padding: 10px 0;
}

.task-card > form > input {
  width: 100%;
  border-radius: 2%;
  background-color: #cdcbf6;
  border: 1px solid #a8a4f1;
}

.task-card > form > button {
  margin: 10px 5px;
}

.textbox-description-db {
  margin-top: 3px;
  height: 100px;
}

.form-delete {
  position: relative;
  right: 70px;
  top: 43%;
}

@media screen and (max-width: 600px) {
  h1 {
    color: #a8a4f1;
    font-weight: 900;
    align-self: center;
    margin: 0 0 0 20px;
    font-size: 30px;
  }
  .dashboard-header > p {
    margin: 0 5px 0 70px;
    font-size: 12px;
    align-self: center;
  }
  .task-card > form > label {
    font-weight: bold;
    width: 33vw;
    padding: 10px 0 5px 5px;
  }
  .task-card > form > .card-title {
    border-color: #cdcbf6;
    font-weight: 700;
    text-align: center;
    padding: 10px 0;
  }

  .task-card > form > input {
    width: 100%;
    border-radius: 2%;
    background-color: #cdcbf6;
    border: 1px solid #a8a4f1;
  }

  .tasks-wrapper {
    margin: 10px 30px 50px 30px;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    gap: 15px;
  }

  .task-card {
    display: flex;
    background-color: #cdcbf6;
    padding: 5px;
    align-items: center;
    border-radius: 2%;
    border: 1px solid #b5b2f1;
    max-width: 400px;
    width: 100vw;
  }
  .task-card > form {
    font-size: 12px;
    width: 87vw;
    max-width: 385px;
  }

  .task-card > form > textarea {
    width: 87vw;
    max-width: 385px;
    resize: none;
  }
}

/* NEW TASK */

.new-task {
  width: 87vw;
  font-size: 12px;
  max-width: 385px;
  margin: 30px auto;
  border: 1px solid #a8a4f1;
  background-color: #cdcbf6;
  border-radius: 2%;
  padding: 5px;
}
.new-task > form > input {
  width: 100%;
  border-radius: 2%;
  background-color: #cdcbf6;
  border: 1px solid #a8a4f1;
}

.new-task > form > label {
  font-weight: bold;
  padding-left: 10px;
}

.new-task > form > button {
  margin: 10px 0 0 5px;
}

.new-task > form > textarea {
  width: 100%;
  background-color: #cdcbf6;
  border: 1px solid #a8a4f1;
  resize: none;
}
